@using CMS.Helpers
@using Kentico.Membership.Web.Mvc
@using Kentico.Web.Mvc
@using LittleFashion_Kentico13.ViewModel.Menu
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="navbar navbar-expand-lg">


    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="http://localhost:25291/home">
            <strong>@Model.SiteName</strong>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                @foreach (MenuItemViewModel menuItem in Model.MenuItems)
                {
                    var isActive = Url.Content(menuItem.MenuItemRelativeUrl) == Model.CurrentPageUrl ? "active" : "";

                    <li class="nav-item">
                        <a class="nav-link @isActive" href="@menuItem.MenuItemRelativeUrl">@menuItem.MenuItemText</a>
                    </li>
                }
            </ul>
        </div>
    </div>


    <div class="dropdown-content">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-flex gap-2">
                <a class="btn bg-dark text-white btn-sm" asp-controller="Account" asp-action="YourAccount">@ResHelper.GetString("YourAccount")</a>

                <form method="post" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="btn bg-dark text-white btn-sm">@ResHelper.GetString("SignOut")</button>
                </form>
            </div>
        }
        else
        {
            <div class="d-flex gap-2">
                <a class="btn bg-dark text-white btn-sm" asp-controller="Account" asp-action="Register">@ResHelper.GetString("Register")</a>
                <a class="btn bg-dark text-white btn-sm" asp-controller="Account" asp-action="Login">@ResHelper.GetString("Login")</a>
            </div>
        }
    </div>
    @using (Html.BeginForm("SearchIndex", "Search", FormMethod.Get))
    {
        <input type="text" name="searchtext" placeholder="Search..." maxlength="1000">
        <input type="submit" value="Search">
    }
</nav>