@model SearchResultModel

@using CMS.DataEngine
@using CMS.Search;
@using Kentico.Web.Mvc
@using LittleFashion_Kentico13.Models.Search

@if (!Model.Items.Any())
{
    if (!String.IsNullOrWhiteSpace(Model.Query))
    {
        <h2>No results found for "@Model.Query"</h2>
    }
}
else
{
    var dictionaryList = new List<Dictionary<string, object>>();
    foreach (var items in Model.Items)
    {
        var fields = (items.Data?.GetType().GetProperty("Fields")?.GetValue(items.Data));

        var fieldsDictionary = new Dictionary<string, object>();
        if (fields != null)
        {
            var properties = fields.GetType().GetProperties();

            foreach (var property in properties)
            {
                if (property.GetIndexParameters().Length == 0 && !property.PropertyType.IsGenericType)
                {
                    fieldsDictionary[property.Name] = property.GetValue(fields).ToString();
                }
            }
        }
        dictionaryList.Add(fieldsDictionary);
    }

    <div style="margin-top:100px">
        <h2 style="margin-left:104px; margin-top:132px" >Results for "@Model.Query"</h2>
        <section class="products section-padding" style="margin-top:-50px">
            <div class="container">
                <div class="row">
                    @foreach (var item in dictionaryList)
                    {
                        if (item.TryGetValue("ProductName", out var productName) && !string.IsNullOrEmpty(productName?.ToString()))
                        {
                            <div class="col-lg-4 col-12 mb-3">
                                <div class="product-thumb">
                                    <a href="product-detail.html">
                                        @{
                                            if (item.TryGetValue("ImageUrl", out var imageUrl) && !string.IsNullOrEmpty(imageUrl?.ToString()))
                                            {
                                                <img src="@imageUrl" class="img-fluid product-image" alt="">
                                            }
                                        }
                                    </a>

                                    <div class="product-top d-flex">
                                        @{
                                            if (item.TryGetValue("ProductStatus", out var productStatus) && !string.IsNullOrEmpty(productStatus?.ToString()))
                                            {
                                                <span class="product-alert me-auto">@productStatus</span>
                                            }
                                        }
                                        <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                                    </div>

                                    <div class="product-info d-flex">
                                        <div>
                                            @{
                                                <h5 class="product-title mb-0">
                                                    <a href="product-detail.html" class="product-title-link">@productName</a>
                                                </h5>

                                                if (item.TryGetValue("ProductDescription", out var productDescription) && !string.IsNullOrEmpty(productDescription?.ToString()))
                                                {
                                                    <p class="product-p">@productDescription</p>
                                                }
                                            }
                                        </div>
                                        @{
                                            if (item.TryGetValue("ProductPrice", out var productPrice) && !string.IsNullOrEmpty(productPrice?.ToString()))
                                            {
                                                <small class="product-price text-muted ms-auto">@productPrice</small>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
}